table, th, td{
    width: auto;
    border: 1px solid black;
    text-align: center;
    margin: 5rem auto
}

.table-header{
    background-color: aquamarine;
}

.page-style{
    background-color: beige;
}

#table-style{
    background-color: burlywood;
}